:root {
  --header-height: 100px;
}
html {
  scrollbar-gutter: auto;
}
body {
  padding: 0%;
  margin: 0%;
  background-color: rgb(34, 34, 34);
  color: #fff7e7;
  text-transform: uppercase;
}
* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

#main-container {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
}

.layer-one {
  width: 100%;
  height: 100%;
  background-color: blue;
  position: absolute;
}

.layer-two {
  position: absolute;
  /* directly above layer one */
  inset: 0;
  background-color: #fff7e7;

  mask: none;

  -webkit-mask: none;
}
