@keyframes animatedText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%);
  }
}

.textContainer {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.textContainer span {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: 600;
  animation: animatedText 10s; /*linear infinite default speed if not overridden by JS */

  margin: 10px;
}
